<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="ermeXGatewayConfiguration" type="ermeX.Gateway.Configuration.ermeXGatewayConfiguration, ermeX.Gateway.ConfigurationManagement.Config" />
    </configSections>
    <ermeXGatewayConfiguration>
        <restfulServiceDefinition host="http://localhost/booklist.wsdl"></restfulServiceDefinition>
    </ermeXGatewayConfiguration>
</configuration>