<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="ermeXConfiguration" type="ermeX.Configuration.ermeXConfiguration, ermeX.ConfigurationManagement.Config, Version=1.1.0.0, Culture=neutral, PublicKeyToken=55440e77d194bd94" />
    </configSections>
    <ermeXConfiguration>
        <componentDefinition componentId="94d38182-1346-4e13-ab26-612c83438519"
            tcpPort="6666" messagesExpirationDays="1" discoverSubscriptors="true"
            discoverServices="true">
            <database dbType="InMemory" connectionString="" />
        </componentDefinition>
    </ermeXConfiguration>
</configuration>